<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <style>
        body{
            background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://cache.careers360.mobi/media/presets/720X480/colleges/social-media/media-gallery/2007/2018/10/5/Campus%20view%20of%20DY%20Patil%20College%20of%20Engineering%20and%20Technology_Campus-View.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>function based view with model form crud</title>
    <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}">
</head>
<body>
    
    <div class="container mt-5" >
        <h2 class="text-center alert alert-danger">D.Y.PATIL COLLEGE OF ENGINEERING AND TECHNOLOGY </h2>
        <h6 class="text-center alert alert-danger">Contact Details<br>Address:: Kasaba Bawada, Kolhapur, 
            Maharashtra 416006<br>Phone no: 0231-2601433</h6> 
        <h5 class="text-center alert alert-danger">Student Information portal</h5>
        {% block content %}
        {% endblock content %}
    </div>
    
    <script src="{%static 'enroll/js/jquery.js' %}"></script>
    <script src="{%static 'enroll/js/popper.js' %}"></script>
    <script src="{%static 'enroll/js/bootstrap.js' %}"></script>

</body>
</html>